<h1 class="text-2xl font-bold">Listado de productos</h1>
<h3>
    Total de productos
    <span class="text-accent">{{ products.value()?.count }}</span>
</h3>


<div class="divider"></div>






    
<div class="flex  justify-between items-center h-20">
   <div class="flex gap-2">
        <app-pagination 
            [pages]="products.value()?.pages ?? 0"
            [currentPage]="paginationService.page()"
        />

        <select class="select w-20"  
                (change)="limit.set(+txtlimit.value)" 
                #txtlimit>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
   </div>

   <a [routerLink]="['/admin/product/new']" routerLinkActive="router-link-active"  class="btn btn-primary">Agregar</a>
</div>

@if(products.isLoading()) {
    <div class="flex justify-center items-center h-screen">
        <span class="loading loading-bars loading-xl text-accent"></span>
    </div>
}

@if(products.hasValue()) {
 <products-table [products]="products.value().products"/>
}